/*
Write a Sass file that assigns the following using nested declarations
    No margin or padding in body tags
    Margin 10px to all of the p tags inside body tags
*/

body {
    margin: 0;
    padding: 0;

    p {
        margin: 10px;
    }
}