/* 
Write a Sass file that assigns:
    Margin left and right at 10px to body tags
    Margin left and right at 15px to div tags
    You must use a mixin
*/

@mixin margins($margin-left, $margin-right) {
    margin-left: $margin-left;
    margin-right: $margin-right;
}

body {
    @include margins(10px, 10px)
}

div {
    @include margins(15px, 15px)
}